.progress-wrap {
  @apply fixed h-[46px] leading-[46px] w-[46px] cursor-pointer block shadow-[inset_0_0_0_2px_rgba(0,0,0,0.2)] z-[10000] opacity-0 invisible translate-y-[15px] transition-all duration-200 ease-linear rounded-[50px] hover:scale-[1.06];
  inset-inline-end: 36px;
  inset-block-end: 36px;
  -webkit-transition: all 200ms linear;
}

@media screen and (max-width: 991px) {
  .progress-wrap {
    @apply h-10 w-10 leading-10 after:h-10 after:w-10 after:leading-10;
    inset-inline-end: 24px;
    inset-block-end: 24px;
  }
}

.progress-wrap.active-progress {
  @apply opacity-100 visible translate-y-0;
}

.progress-wrap::after {
  @apply absolute font-black content-["\e08e"] text-center h-[46px] w-[46px] leading-[46px] text-2xl cursor-pointer block z-[1] !text-[#066ccb];
  font-family: "Phosphor";
  inset-inline-start: 0;
  inset-block-start: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap svg path {
  @apply fill-none;
}

.progress-wrap svg.progress-circle path {
  @apply stroke-[#066ccb] stroke-[5] box-border;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}